<html>
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Config Item</title>
<script>
function confirmRemove() {
  var key = document.dataform.selectedkey.value;
  return window.confirm("Do you really want to delete \"" + key + "\"?");
}
</script>
  </head>
  <body>
    Message: {{ message }}
    <form name="dataform" action="/configitem/" method="POST">
    <select name="modelname">
      <option value="">--</option>
      {% for curname in modelnames %}
      <option value="{{ curname }}" {% if curname == modelname %}selected{% endif %}>{{ curname }}</option>
      {% endfor %}
    </select>
    <select name="selectedkey">
      <option value="">--</option>
      {% for item in items %}
      <option value="{{ item.key }}" {% if item.key == key %}selected{% endif %}>{{ item.key }}</option>
      {% endfor %}
    </select>
    <input name="action" type="submit" value="Query" />
    <br/>Key: <input type="text" name="key" value="{{ key }}" size="60"/>
    <br/><textarea name="value" rows="20" cols="130">{{ value }}</textarea>
    <br/><input name="action" onclick="return confirmRemove();" type="submit" value="Remove" />
    <input name="action" type="submit" value="Save" />
    </form>
  </body>
</html>

