<html>
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Config Item</title>
  </head>
  <body>
    Message: {{ message }}
    <form action="/configitem" method="POST">
    <select name="modelname">
      <option value="">--</option>
      {% for curname in modelnames %}
      <option value="{{ curname }}" {% if curname == modelname %}selected{% endif %}>{{ curname }}</option>
      {% endfor %}
    </select>
    <select name="selectedkey">
      <option value="">--</option>
      {% for curkey in keys %}
      <option value="{{ curkey }}" {% if curkey == key %}selected{% endif %}>{{ curkey }}</option>
      {% endfor %}
    </select>
    <input name="action" type="submit" value="Query" />
    <br/>Key: <input type="text" name="key" value="{{ key }}" size="60"/>
    <br/><textarea name="value" rows="20" cols="130">{{ value }}</textarea>
    <br/><input name="action" type="submit" value="Add" />
    <input name="action" type="submit" value="Update" />
    <input name="action" type="submit" value="Remove" />
    </form>
    {% for item in items %}
        <br/><br/>{{ item.key }}: {{ item.value }}
    {% endfor %}
  </body>
</html>

